@use "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  color: variables.$text-primary;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  // max-width: 1320px;
  width: calc(100% - 24px);
  max-width: 1296px;
  margin: 0 auto;
}