@use "variables";

// index-hero
.hero {
    min-height: 800px;
    display: flex;
    align-items: center;

    background-image: url("../assets/img/index/banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .hero-content {
        margin-left: 200px;
    }

    h1,
    p {
        color: variables.$neutral-0;
    }

    .hero-content h1 {
        margin-bottom: variables.$spacing-m;
    }

    .primary-button {
        margin-top: variables.$spacing-3xl;
    }

    @media (max-width: 576px) {
        background-image: url("../assets/img/index/banner-sm.png");

        min-height: 480px;

        .hero-content {
            margin-left: 0px;
            padding-left: variables.$spacing-l; // 24px
            padding-right: variables.$spacing-l;
        }

        .hero-content h1 {
            margin-bottom: variables.$spacing-xs;
            font-size: clamp(40px, 12.8vw, 48px);
            line-height: 1.2;
            letter-spacing: 0.05em;
        }

        .hero-content p {
            font-size: clamp(16px, 5.33vw, 20px);
            line-height: 1.2;
            letter-spacing: 0.05em;
        }

        .primary-button {
            margin-top: variables.$spacing-xl; //32px
        }
    }
}

//index-new-arrivals
.new-arrivals {
    margin-top: variables.$spacing-5xl;
    margin-bottom: variables.$spacing-5xl;

    .new-arrivals-title {
        text-align: center;
        margin-bottom: variables.$spacing-xl;
    }

    .new-arrivals-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: variables.$spacing-2xl variables.$spacing-l;

        a img {
            width: 100%;
            height: auto;
            display: block;
            margin-bottom: variables.$spacing-s;
        }

        h3 {
            margin-bottom: variables.$spacing-xxs;
        }
    }

    @media (max-width:768px) {
        .new-arrivals-title h2 {
            font-size: 32px;
            line-height: 1.2;
            letter-spacing: 0.05em;
        }

        .new-arrivals-title p {
            font-size: 24px;
            line-height: 1.2;
            letter-spacing: 0.05em;
        }

        .new-arrivals-list h3 {
            font-size: 16px;
            line-height: 1.2;
            letter-spacing: 0.05em;
        }
    }
}

//index-best-seller
.best-seller {
    margin-bottom: variables.$spacing-5xl;

    .best-seller-title {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: variables.$spacing-m;
        font-weight: 700;
        font-size: 32px;
        line-height: 1.2;
        letter-spacing: 0.05em;
    }

    .product-card {
        position: relative;
    }

    .product-badge {
        position: absolute;
        color: variables.$primary-400;
        background-color: variables.$primary-100;
        padding: variables.$spacing-xs variables.$spacing-s;
        width: 91px;
        top: 0;
        left: 0;
    }
}

//index-sale
.sale {
    margin-top: variables.$spacing-3xl;
    margin-bottom: variables.$spacing-3xl;
    background-image: url(../assets/img/index/banner-co-branded.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: 768px) {
        background-image: url(../assets/img/index/banner-co-branded-sm.png);

    }

    .sale-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-top: 100px;
        padding-bottom: 100px;

        h2 {
            margin-bottom: variables.$spacing-m;
        }

        h3 {
            margin-bottom: variables.$spacing-xl;

        }

        .primary-button {
            margin-top: variables.$spacing-3xl;
        }
    }

}