@use "variables";

.display-1 {
  font-size: 64px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.display-2 {
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h1 {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h2 {
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h3 {
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h4 {
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h5 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h6 {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.label-lg {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.label-md {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.label-sm {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.label-xs {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.paragraph-lg {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.paragraph-md {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.paragraph-sm {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.paragraph-xs {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

.primary-300 {
  color: variables.$primary-300;
}

.neutral-0 {
  color: variables.$neutral-0;
}

.neutral-500 {
  color: variables.$neutral-500;
}