@use "../variables";

body {
    color: variables.$neutral-900;
}

//story-banner
.story-banner {
    position: relative;
    background-image: url("../assets/img/story/hero.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 64px;

    min-height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: variables.$neutral-0;
    text-align: center;

    // 黑色遮罩
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .story-banner-content {
        position: relative;
        z-index: 1;
    }

    .story-banner-content {
        .h1 {
            margin-bottom: variables.$spacing-m;
        }
    }

    @media (max-width: 768px) {
        min-height: 240px;
        background-image: url("../assets/img/story/hero-sm.png");
        margin-bottom: 32px;
    }
}

//品牌故事內容
.story-container {
    width: calc(100% - 24px);
    max-width: 856px;
    margin: 0 auto;
    padding: 32px;

    .quote {
        padding: 32px;
        text-align: center;
        background-color: variables.$primary-100;
        border-radius: variables.$radius-md;
    }

    .intro img {
        display: block;
        width: 1076px;
        max-width: none;

        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .section-lined {
        border-bottom: solid 1px variables.$neutral-300;
    }

    .left-lined {
        border-left: solid 3px variables.$neutral-300;
    }

    .brand-story {
        a span {
            text-decoration: underline;
            text-underline-offset: 4px;
        }
    }

    .bi {
        padding-right: variables.$spacing-xs; //8px
        vertical-align: bottom;
    }

}

@media (max-width:768px) {
    .story-banner-content {
        h1 {
            font-size: 28px;
        }

        p {
            font-size: 20px;
        }
    }

    .story-container {
        padding: 32px 0;

        .quote {
            padding: variables.$spacing-l; // 24px
            text-align: left;
            width: auto;
            height: auto;
        }

        .intro img {
            width: 100%;
            max-width: 100%;
            left: auto;
            transform: none;
        }

        .history,
        .brand-concept,
        .brand-story {
            h2 {
                font-size: 20px;
            }
        }

        .history ul {
            list-style-type: disc;
            padding-left: 20px;
        }
    }
}