*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  color: #212529;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: calc(100% - 24px);
  max-width: 1296px;
  margin: 0 auto;
}

.display-1 {
  font-size: 64px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.display-2 {
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h1 {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h2 {
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h3 {
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h4 {
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h5 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h6 {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.label-lg {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.label-md {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.label-sm {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.label-xs {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.paragraph-lg {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.paragraph-md {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.paragraph-sm {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.paragraph-xs {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

.primary-300 {
  color: #c0fa73;
}

.neutral-0 {
  color: #ffffff;
}

.neutral-500 {
  color: #adb5bd;
}

.primary-button {
  display: inline-block;
  background-color: #c0fa73;
  color: #212529;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-weight: 500;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar-logo {
  margin-right: 8px;
}

.navbar-user {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-user .bi {
  font-size: 24px;
}

.navbar-item {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media (max-width: 768px) {
  .navbar-item {
    display: none;
  }
}

@media (max-width: 576px) {
  .navbar .container {
    position: relative;
    padding: 0px;
  }
  .navbar-menu {
    width: 100%;
    flex-wrap: wrap;
    gap: 0px;
  }
  .navbar-logo {
    width: 100%;
    height: 72px;
    margin-right: 0px;
    display: flex;
    align-items: center;
  }
  .navbar-item {
    display: block;
    width: 50%;
    padding: 0px;
  }
  .navbar-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
  }
  .navbar-item:nth-child(2) a {
    background-color: #e8fec5;
  }
  .navbar-item:nth-child(3) a {
    background-color: #f5ffe7;
  }
  .navbar-user {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}
.footer {
  background-color: #f8f9fa;
}
.footer .container {
  padding-top: 64px;
  padding-bottom: 64px;
}
@media (max-width: 768px) {
  .footer .container {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.footer .footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .footer .footer-menu {
    flex-direction: column;
    align-items: flex-start;
  }
}
.footer .footer-menu ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
@media (max-width: 768px) {
  .footer .footer-menu ul {
    flex-direction: column;
    padding-left: 12px;
    gap: 0;
  }
}
.footer .footer-item a {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
}
.footer .footer-info {
  border-top: 1px solid #dee2e6;
  padding-top: 32px;
  text-align: center;
  color: #6c757d;
}

.hero {
  min-height: 800px;
  display: flex;
  align-items: center;
  background-image: url("../assets/img/index/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero .hero-content {
  margin-left: 200px;
}
.hero h1,
.hero p {
  color: #ffffff;
}
.hero .hero-content h1 {
  margin-bottom: 16px;
}
.hero .primary-button {
  margin-top: 48px;
}
@media (max-width: 576px) {
  .hero {
    background-image: url("../assets/img/index/banner-sm.png");
    min-height: 480px;
  }
  .hero .hero-content {
    margin-left: 0px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .hero .hero-content h1 {
    margin-bottom: 8px;
    font-size: clamp(40px, 12.8vw, 48px);
    line-height: 1.2;
    letter-spacing: 0.05em;
  }
  .hero .hero-content p {
    font-size: clamp(16px, 5.33vw, 20px);
    line-height: 1.2;
    letter-spacing: 0.05em;
  }
  .hero .primary-button {
    margin-top: 32px;
  }
}

.new-arrivals {
  margin-top: 64px;
  margin-bottom: 64px;
}
.new-arrivals .new-arrivals-title {
  text-align: center;
  margin-bottom: 32px;
}
.new-arrivals .new-arrivals-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 24px;
}
.new-arrivals .new-arrivals-list a img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 12px;
}
.new-arrivals .new-arrivals-list h3 {
  margin-bottom: 4px;
}
@media (max-width: 768px) {
  .new-arrivals .new-arrivals-title h2 {
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }
  .new-arrivals .new-arrivals-title p {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }
  .new-arrivals .new-arrivals-list h3 {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }
}

.best-seller {
  margin-bottom: 64px;
}
.best-seller .best-seller-title {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}
.best-seller .product-card {
  position: relative;
}
.best-seller .product-badge {
  position: absolute;
  color: #57a203;
  background-color: #f5ffe7;
  padding: 8px 12px;
  width: 91px;
  top: 0;
  left: 0;
}

.sale {
  margin-top: 48px;
  margin-bottom: 48px;
  background-image: url(../assets/img/index/banner-co-branded.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
}
.sale .sale-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sale .sale-content .sale-title {
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  font-weight: 700;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.sale .sale-content .sale-x {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  font-weight: 700;
  color: #c0fa73;
}
.sale .sale-content .sale-description {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-weight: 400;
  color: #adb5bd;
}
.sale .sale-content h2 {
  margin-bottom: 16px;
}
.sale .sale-content h3 {
  margin-bottom: 32px;
}
.sale .sale-content .primary-button {
  margin-top: 48px;
}
.sale .sale-content {
  width: fit-content;
  margin: 0 auto;
  position: relative;
}
.sale .sale-content .sale-star {
  position: absolute;
  width: 48px;
  height: 48px;
  top: -32px;
  left: -80px;
}
.sale .sale-content .sale-sparkle {
  position: absolute;
  width: 76px;
  height: 64px;
  right: -40px;
  top: calc(50% + 71px);
  transform: translateY(-50%);
}
@media (max-width: 576px) {
  .sale {
    margin-top: 24px;
    margin-bottom: 24px;
    background-image: url(../assets/img/index/banner-co-branded-sm.png);
    pdaaing: 64px 12px 64px 12px;
  }
  .sale .sale-content {
    width: 100%;
  }
  .sale .sale-content .sale-star {
    top: -32px;
    left: -32px;
    overflow: hidden;
  }
  .sale .sale-content .sale-sparkle {
    right: -40px;
    top: calc(50% + 79px);
    transform: translateY(-50%);
    overflow: hidden;
  }
  .sale .sale-content h3 {
    font-size: 20px;
  }
  .sale .sale-content .sale-title {
    font-size: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .sale .sale-content .sale-x {
    font-size: 28px;
  }
  .sale .sale-content .primary-button {
    margin-top: 32px;
  }
  .sale .sale-content .sale-description {
    font-size: 16px;
    text-align: center;
  }
  .sale .sale-content .sale-description-line {
    display: block;
  }
  .sale .sale-content .sale-description-comma {
    display: none;
  }
}/*# sourceMappingURL=all.css.map */